In [68]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error,r2_score
from sklearn.svm import SVR
from sklearn import svm
import seaborn as sns

In [41]:
df = pd.read_csv(r'C:\Users\greym\Desktop\dataset for 446\energydata.csv')
df.head()

,REF_DATE,GEO,DGUID,Type of dwelling,Energy type,Energy consumption,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2011,Canada,2016A000011124,Single-detached,"Total, all energy types",Gigajoules,Gigajoules,143,units,0,v101904406,1.1.1.1,944421514.0,NaN,NaN,NaN,0
1,2011,Canada,2016A000011124,Single-detached,"Total, all energy types",Gigajoules per household,Gigajoules,143,units,0,v101904407,1.1.1.2,115.3,NaN,NaN,NaN,1
2,2011,Canada,2016A000011124,Single-detached,"Total, all energy types",Number of households,Number,223,units,0,v101904408,1.1.1.4,8191007.0,NaN,NaN,NaN,0
3,2011,Canada,2016A000011124,Single-detached,Electricity,Gigajoules,Gigajoules,143,units,0,v101904409,1.1.2.1,396962347.0,NaN,NaN,NaN,0
4,2011,Canada,2016A000011124,Single-detached,Electricity,Gigajoules per household,Gigajoules,143,units,0,v101904410,1.1.2.2,48.5,NaN,NaN,NaN,1

In [42]:
# drop uncessary data
df.drop(['DGUID','UOM_ID','SCALAR_ID','Type of dwelling','SCALAR_FACTOR','VECTOR','COORDINATE','STATUS','SYMBOL', 'DECIMALS','TERMINATED'],inplace=True, axis=1)
df.head()

,REF_DATE,GEO,Energy type,Energy consumption,UOM,VALUE
0,2011,Canada,"Total, all energy types",Gigajoules,Gigajoules,944421514.0
1,2011,Canada,"Total, all energy types",Gigajoules per household,Gigajoules,115.3
2,2011,Canada,"Total, all energy types",Number of households,Number,8191007.0
3,2011,Canada,Electricity,Gigajoules,Gigajoules,396962347.0
4,2011,Canada,Electricity,Gigajoules per household,Gigajoules,48.5

In [43]:
#drop null data
newdf = df.dropna()
newdf.head()

,REF_DATE,GEO,Energy type,Energy consumption,UOM,VALUE
0,2011,Canada,"Total, all energy types",Gigajoules,Gigajoules,944421514.0
1,2011,Canada,"Total, all energy types",Gigajoules per household,Gigajoules,115.3
2,2011,Canada,"Total, all energy types",Number of households,Number,8191007.0
3,2011,Canada,Electricity,Gigajoules,Gigajoules,396962347.0
4,2011,Canada,Electricity,Gigajoules per household,Gigajoules,48.5

In [44]:
# drop all data that does not have the energy type of electricity and has a location of canada
newdf.drop(newdf[newdf['GEO'] == 'Canada'].index, inplace = True)
newdf.drop(newdf[newdf['Energy type'] != 'Electricity'].index, inplace = True)
newdf.head()

C:\Users\greym\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,REF_DATE,GEO,Energy type,Energy consumption,UOM,VALUE
108,2011,Newfoundland and Labrador,Electricity,Gigajoules,Gigajoules,11934482.0
109,2011,Newfoundland and Labrador,Electricity,Gigajoules per household,Gigajoules,72.7
110,2011,Newfoundland and Labrador,Electricity,Proportion of total energy,Percent,77.6
111,2011,Newfoundland and Labrador,Electricity,Number of households,Number,164067.0
213,2011,Prince Edward Island,Electricity,Gigajoules,Gigajoules,1147772.0

In [45]:
# Select columns of electricity consumption that is gigajoules
energy=newdf.loc[newdf['Energy consumption'] == 'Gigajoules']
y = energy.iloc[:, [5]]
y.head()

          VALUE
108  11934482.0
213   1147772.0
318   9704911.0
363    685874.0
378   1429845.0

In [46]:
# Select column that is giga per household
household=newdf.loc[newdf['Energy consumption'] == 'Gigajoules per household']
z = household.iloc[:, [5]]
z.head()

     VALUE
109   72.7
214   26.5
319   36.0
364   31.0
379   23.6

In [47]:
# Select columns of proportion of total energy that is gigajoules
proportion=newdf.loc[newdf['Energy consumption'] == 'Proportion of total energy']
x2 = proportion.iloc[:, [5]]
x2.head()

     VALUE
110   77.6
215   28.6
320   47.9
365   56.2
380   35.1

In [48]:
# Select columns of proportion of number of households that is gigajoules
number=newdf.loc[newdf['Energy consumption'] == 'Number of households']
x3 = number.iloc[:, [5]]
x3.head()

        VALUE
111  164067.0
216   43300.0
321  269296.0
366   22136.0
381   60523.0

In [49]:
#drop the 12 extra rows 
perhousehold = z.drop([3349,3304,3109,2584,2299,1969,1129,1084,1039,814,2149,4039])
proportion = x2.drop([815,1040,1085,2150,2300,2585,3110,3305])
number= x3.drop([1086,1971,2301,2586,3111,3351])

In [50]:
#Inserting all 3 dataframes
perhousehold = perhousehold.reset_index(drop = True)
proportion = proportion.reset_index(drop =True)
number = number.reset_index(drop = True)
X = pd.concat([perhousehold,proportion,number],axis=1,keys=['Perhousehold', 'proportion', 'Number'])
X

    Perhousehold proportion    Number
           VALUE      VALUE     VALUE
0           72.7       77.6  164067.0
1           26.5       28.6   43300.0
2           36.0       47.9  269296.0
3           31.0       56.2   22136.0
4           23.6       35.1   60523.0
..           ...        ...       ...
118         31.7       43.7  141375.0
119         38.8       41.3   54159.0
120         16.3       43.1  347275.0
121         15.8       52.8  188055.0
122         28.9       30.8   63103.0

[123 rows x 3 columns]

In [91]:
# dependent and independent variables
X1 = [X]
Y = y.reset_index(drop = True)
Y

          VALUE
0    11934482.0
1     1147772.0
2     9704911.0
3      685874.0
4     1429845.0
..          ...
118   4480597.0
119   2099854.0
120   5651427.0
121   2979272.0
122   1823852.0

[123 rows x 1 columns]

In [52]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.25, random_state=0)

In [114]:
sc_x = StandardScaler()
sc_y = StandardScaler()
x_I = sc_x.fit_transform(x_train)
y_p = sc_y.fit_transform(y_train)
print("Scaled X_l:")
print(x_I)
print("Scaled y_p:")
print(y_p)

Scaled X_l:
[[ 2.99559874e-01 -5.69402642e-01 -6.01537663e-01]
 [-9.77038608e-01 -6.19373699e-01 -2.23709484e-01]
 [-1.81456306e-02 -8.80760764e-01  4.86978198e+00]
 [ 1.55148281e-01  1.49411788e-01 -5.95854558e-01]
 [-4.05168700e-01  1.22504296e-01 -6.39351297e-01]
 [ 1.49371817e-01 -1.07295714e+00  1.02855876e+00]
 [-3.87839309e-01  1.52938174e+00 -5.77215259e-01]
 [-4.91815655e-01 -9.30731821e-01 -9.43857573e-02]
 [-7.51756523e-01  3.72359579e-01  7.84402654e-01]
 [ 1.48373494e+00 -2.31137028e-01 -5.94848765e-01]
 [-7.40203595e-01 -8.30789708e-01  6.72121832e-02]
 [ 1.57038189e+00 -1.15819205e-01 -5.57705139e-02]
 [ 1.20489499e-01  1.77539309e+00 -6.15649006e-01]
 [-1.25430887e+00 -3.81050198e-01 -2.46476675e-02]
 [ 4.09312685e-01 -5.57870860e-01  1.29029354e+00]
 [-7.74862378e-01  5.22272749e-01  4.69515904e-01]
 [ 1.37398213e+00  1.28721431e+00 -1.35791507e-01]
 [-2.14545397e-01  1.36793679e+00  8.61852449e-01]
 [ 1.84030600e-01 -4.19489472e-01 -1.51621394e-01]
 [ 2.53348164e-01 -4.54084819e-01 -5.94378009e-01]
 [-9.42379825e-01  1.33334144e+00 -2.15190498e-01]
 [ 2.50039255e+00  1.34487322e+00 -2.95791902e-01]
 [-5.84239075e-01 -1.33434420e+00  1.39654076e+00]
 [-6.65109567e-01 -9.38419676e-01 -5.99338910e-01]
 [-7.34427132e-01 -8.84604692e-01  1.51524810e-01]
 [ 1.03317077e+00  1.65238742e+00 -6.41128449e-01]
 [-9.90161226e-02  1.24877503e+00 -3.44659800e-01]
 [-8.32627015e-01 -6.88564393e-01 -5.66777327e-01]
 [-9.07721043e-01 -1.09602070e+00 -7.09197891e-02]
 [-9.53932753e-01  4.91521330e-01  3.22339363e-01]
 [-8.16239438e-04 -1.00376644e+00 -1.40221153e-01]
 [ 2.93783410e-01  1.18727220e+00  9.82020062e-01]
 [ 1.16025297e+00  1.22186754e+00 -5.36535494e-01]
 [ 1.65702885e+00  1.17958434e+00 -2.98087075e-01]
 [-1.30052058e+00 -9.23043966e-01 -5.62179419e-01]
 [-3.06968816e-01 -1.04604964e+00 -2.46022934e-02]
 [ 1.87075801e+00  1.52169388e+00 -4.65715988e-01]
 [ 2.00361667e+00  9.45104767e-01 -3.71018366e-01]
 [ 1.63969946e+00  1.05273474e+00 -2.47878750e-01]
 [-3.87839309e-01 -7.88506506e-01 -5.95699530e-01]
 [-1.34673229e+00 -1.16905532e+00 -4.50545917e-01]
 [-2.43427716e-01  1.32949751e+00 -6.19061516e-01]
 [-5.55356756e-01 -1.25362173e+00  1.17124515e+00]
 [-3.53180526e-01 -8.38477563e-01 -2.19869701e-01]
 [-5.55356756e-01 -1.08448892e+00 -6.04734646e-01]
 [-1.01747385e+00  1.19111612e+00 -3.29121063e-01]
 [ 7.42777889e-02  2.07070700e-01 -3.66439364e-01]
 [ 1.07366880e-02  2.76261393e-01 -1.00908283e-01]
 [-3.35851135e-01 -9.57639313e-01  5.88751531e+00]
 [ 1.72477672e-01 -2.50356665e-01 -1.26266729e-01]
 [-1.58934376e+00 -1.42659846e+00 -3.01601676e-01]
 [-5.26474438e-01 -1.02298608e+00 -2.76492788e-01]
 [-9.71262144e-01 -1.17674318e+00 -5.61786177e-01]
 [ 1.64547592e+00 -1.20331641e-02 -1.46465763e-01]
 [-1.00014446e+00  1.48743279e-02 -2.55059940e-02]
 [-6.76662494e-01 -4.38709109e-01 -6.61722616e-01]
 [-1.35828521e+00 -9.38419676e-01 -6.22457010e-01]
 [ 4.53954703e-02 -4.50240892e-01 -5.78809024e-01]
 [-1.28319118e+00 -8.18923671e-03 -3.25666961e-01]
 [ 8.02112217e-01 -2.84952012e-01 -7.87411483e-02]
 [ 1.71479348e+00  1.37562464e+00 -2.89906504e-01]
 [-1.97216006e-01  9.22041203e-01 -5.84380584e-01]
 [-3.93615772e-01  8.64382291e-01 -5.50603353e-01]
 [-1.00592093e+00 -1.35740777e+00 -4.54587992e-01]
 [ 1.33932334e+00  1.62932385e+00 -6.48051780e-01]
 [-6.30450785e-01 -9.27556403e-02 -6.65771103e-02]
 [-1.29474411e+00 -1.41891061e+00 -5.89233721e-01]
 [ 1.73212288e+00  1.58704065e+00 -3.74835462e-01]
 [-2.60757107e-01 -9.84546805e-01 -6.10131122e-02]
 [-4.68709801e-01 -9.19200039e-01 -5.61026161e-01]
 [-6.70886031e-01 -1.08064499e+00 -3.77527658e-01]
 [ 7.73229899e-01 -5.57870860e-01  2.57856366e-02]
 [ 1.36820566e+00  8.25943017e-01 -1.21846536e-01]
 [ 1.24112346e+00  1.11423757e+00  9.26971835e-01]
 [ 1.78411105e+00  1.24108718e+00 -2.08028954e-01]
 [-5.66909684e-01 -1.04220572e+00 -4.60420454e-01]
 [-5.55356756e-01  3.83891362e-01 -3.42990411e-01]
 [-8.49956406e-01 -1.35038842e-01 -1.01898951e-01]
 [-4.74486264e-01 -4.77148384e-01 -6.19766705e-01]
 [ 7.42777889e-02  1.48325461e+00  1.10846631e+00]
 [-4.16721627e-01 -5.15587658e-01 -4.05400585e-01]
 [ 2.68523939e+00  1.37178071e+00  2.55883217e+00]
 [-3.58956990e-01 -1.06911321e+00 -2.12842389e-01]
 [-5.49580293e-01 -1.21902638e+00  1.25231542e+00]
 [ 1.24112346e+00  1.39484428e+00 -4.39310157e-01]
 [-8.16867315e-02  1.71389025e+00 -2.64723882e-01]
 [-3.64733454e-01 -3.57986633e-01 -4.13919571e-01]
 [ 2.00361667e+00  1.49863032e+00 -3.00064629e-01]
 [-1.16766191e+00 -8.42321490e-01 -5.91547800e-01]
 [ 1.08936571e-01 -6.92408320e-01  1.38480399e+00]
 [-6.30450785e-01  5.71575297e-02  5.07773087e-02]
 [-4.91815655e-01 -9.46107531e-01 -2.73549143e-01]]
Scaled y_p:
[[-0.51602197]
 [-0.39235495]
 [ 3.5959621 ]
 [-0.51533115]
 [-0.55891796]
 [ 0.8021122 ]
 [-0.5197605 ]
 [-0.23895264]
 [ 0.14801192]
 [-0.1366768 ]
 [-0.20725723]
 [ 0.23062832]
 [-0.25111191]
 [-0.37128496]
 [ 1.19254803]
 [-0.01803601]
 [-0.24501495]
 [ 0.47450739]
 [-0.14875112]
 [-0.09308848]
 [-0.54718693]
 [ 4.95890001]
 [ 0.57504352]
 [-0.54146425]
 [-0.16420326]
 [-0.54009089]
 [-0.34091787]
 [-0.53080558]
 [-0.31276038]
 [-0.15320496]
 [-0.1736365 ]
 [ 0.8477347 ]
 [-0.41686888]
 [-0.07410146]
 [-0.54801159]
 [-0.15547058]
 [-0.28173969]
 [-0.13386761]
 [-0.00979812]
 [-0.53139747]
 [-0.51689115]
 [-0.54282114]
 [ 0.46783811]
 [-0.29038443]
 [-0.54148133]
 [-0.55051566]
 [-0.33759398]
 [-0.51895231]
 [ 3.6424905 ]
 [-0.13047619]
 [-0.50490967]
 [-0.35079798]
 [-0.53420652]
 [ 0.12541689]
 [-0.31400719]
 [-0.57459912]
 [-0.5678616 ]
 [-0.505488  ]
 [-0.47225749]
 [ 0.04004643]
 [-0.0557078 ]
 [-0.51783858]
 [-0.50337019]
 [-0.49164876]
 [-0.54427915]
 [-0.25157336]
 [-0.55617754]
 [-0.16833409]
 [-0.16979516]
 [-0.51311038]
 [-0.42439468]
 [ 0.14157277]
 [ 0.10454373]
 [ 0.0637996 ]
 [ 0.06702399]
 [-0.46053614]
 [-0.39283144]
 [-0.3152511 ]
 [-0.42043714]
 [ 0.82082474]
 [-0.53297784]
 [ 4.88573015]
 [-0.2875266 ]
 [ 0.5168662 ]
 [-0.29694205]
 [ 0.59042816]
 [-0.41552703]
 [-0.03092925]
 [-0.55290133]
 [ 1.06475127]
 [-0.18868529]
 [-0.34467544]]

In [120]:
regressor = SVR(kernel = 'rbf')
regressor.fit(x_I, y_p)
y_pred = sc_y.inverse_transform(regressor.predict(sc_x.transform(x_test)))
y_pred

C:\Users\greym\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

array([ 4683353.15226073, 44410086.21602636,  9670046.39545558,
        7828518.65565601,  5359079.52452504, 12197677.40637489,
        2319112.33421287, 59939283.339112  , 10764198.01834247,
        2363684.77552248,  2736191.44601734, 26249338.78638487,
        2170241.27088135, 61214899.51130353,  7433495.31002143,
        3861109.50991147, 13460309.86917815,  3562701.48295285,
        3120651.38816878, 13704408.97629051, 15620511.10719279,
        9941884.80926106,  4312666.74782333,  2893009.41258401,
        5346815.01801904, 32621406.49985781, 84073533.27250047,
        3064663.43195793, 84273773.59661974,  4752893.85063831,
       43938490.35061692])

In [116]:
r2=r2_score(y_test,y_pred) # calculate R2
mae = mean_absolute_error(y_test, y_pred)# calculate MAE
mse = mean_squared_error(y_test, y_pred)# calculate MSE

print("MAE:", mae)
print("MSE:", mse)
print("R2:", r2)

MAE: 10961276.052105483
MSE: 581733323034376.6
R2: 0.6632517051173232